::-webkit-scrollbar {
    width: 10px;
    background-color: white;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 1opx;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 15, 183, 1); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 15, 183, 1); 
    transition: all .2s;
  }
